.modal-dialogue {
    margin-top: 300px;
}
.modalDiv {
width: 350px;
text-align: center;
border-color: black;
margin: auto;
box-shadow: 0px 0px 10px black;
border-radius: 8px;
    label {
        margin: 5px;
    }
}

