html,
body,
#root,
.wrapper {
  height: 100%;
  width: 100%;
}

.hideModal {
  display: none;
}

$primary-color: #5aebad;
$dark-primary-color: #19cc7f;
$secondary-color: #404040;
$third-color: #ff4d4d;

@import "../components/nav/_nav";
@import "../components/Jumbotron/jumbotron";
@import "../components/nav/_nav.scss";
@import "../components/Signupmodal/modal";
@import "../components//Button/button";
@import "../components/Card/card";

body {
  background-image: url("../image/homebackground.jpg");
  background-size: cover;
  background-position: center;
}

.searchDiv {
  margin-top: 100px;
  width: 100%;
  .formSearchBar {
    margin: 0 auto;
    display: block;
    width: 400px;
  }
  .searchBar {
    position: relative;
    width: 400px;
    padding-left: 10px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
  }
  .searchButton {
    position: relative;
    left: 40%;
    width: 20%;
    margin: 10px 0 40px;
    background-color: $primary-color;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px black;
    &:hover {
      background: $dark-primary-color;
    }
  }
}
