.buttonWrap {
  display: flex;
  justify-content: space-evenly;
}
.submitBtn {
  background: $primary-color;
  &:hover {
    color: $secondary-color;
    background: $dark-primary-color;
    box-shadow: 0 0 10px grey;
  }
}
